@{
    ViewData["Title"] = "Add Bowler";
}

@model Bowler

<div class="text-center">
    <h1 class="display-4">Add a Bowler</h1>
</div>

<div>
    <form method="post">
        <div asp-validation-summary="All"></div>

        <input type="hidden" asp-for="BowlerID" />

        <label asp-for="TeamID">Team:</label>
        <select asp-for="TeamID">
            <option value="">Select a Team...</option>
            @foreach (Team t in ViewBag.Teams)
            {
                <option value="@t.TeamID">@t.TeamName</option>
            }
        </select><br />

        <label asp-for="BowlerFirstName">Bowler First Name:</label>
        <input asp-for="BowlerFirstName" /><br />

        <label asp-for="BowlerMiddleInit">Bowler Middle Init:</label>
        <input asp-for="BowlerMiddleInit"/><br />

        <label asp-for="BowlerLastName">Bowler Last Name:</label>
        <input asp-for="BowlerLastName" /><br />

        <label asp-for="BowlerAddress">Bowler Address:</label>
        <input asp-for="BowlerAddress"/><br />
       

        <label asp-for="BowlerCity">Bowler City:</label>
        <input asp-for="BowlerCity" /> <br />
      

        <label asp-for="BowlerState">Bowler State:</label>
        <input asp-for="BowlerState" /><br />

        <label asp-for="BowlerZip">Bowler Zip:</label>
        <input asp-for="BowlerZip"/><br />

        <label asp-for="BowlerPhoneNumber">Bowler Phone Number:</label>
        <input asp-for="BowlerPhoneNumber" /><br />

        <button type="submit">Add Bowler</button>
    </form>
</div>