@{

    ViewData["Title"] = "Bowler Added!";
}

@model Mission13.Models.Bowler
<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">@Model.BowlerFirstName added to Database!</h1>
    </div>
</header>